body{
        background: linear-gradient(135deg,rgb(87, 1, 90),rgb(148, 3, 148));    
        }
        .section{
             color:white;
             margin-left:800px;
             margin-top: -500px;
        }
        button{
            padding:10px 20px 10px 20px;
            width:200px;
            border-color: white;
            color:purple;
            border-radius: 25px ;
        }
        .social-media-link{
            margin-left:1200px;
            margin-top: 100px;
        }
        .social-media-link img{
            border-radius: 25px;
        }
        .heading{
            margin-left: 100px;
            margin-top: 50px;
        }
        .box{
            background-color: white;
            margin-left: 100px;
            display:inline-block;
            border-style: solid;
            border-color: white;
            height:400px;
            width:600px;
            margin-top: -5px;
            border-radius: 0px 0px 25px 25px;
        }
        .box-section{
            background-color: black;
            height:75px;
            width:607px;
            border-color: black;
            margin-left: 100px;
            padding-top: 20px;
            display: inline-block;
            border-radius: 25px 25px 0px 0px;
        }
        .small-box{
            background-color: white;
            height:40px;
            width:200px;
            border-color: white;
            border-style: solid;
            margin-left:30px;
            border-radius: 10px;
            display: inline-block;
        }
.strips1{
            border-radius: 10px;
            background-color: white;
            height:4px;
            width:20px;
            margin-left: 500px;
          margin-bottom: 5px;
          margin-top: 10px;
}
.strips2{
            border-radius: 10px;
            background-color: white;
            height:4px;
            width:20px;
            margin-left: 500px;
            margin-bottom: 5px;
        }
.strips3{
            border-radius: 10px;
            background-color: white;
            height:4px;
            width:20px;
            margin-left: 500px;
             margin-bottom: 5px;
        }
.circle1{
            border-radius: 90px;
            height:100px;
            width:100px;
            background: linear-gradient(135deg,rgb(238, 241, 48),rgb(250, 37, 73));
            margin-left: 50px;
            margin-top: 25px;
            display: inline-block;
        }
        .circle2{
            border-radius: 90px;
            height:100px;
            width:100px;
            background: linear-gradient(135deg,rgb(0, 18, 177),rgb(1, 108, 116));
            margin-left: 50px;
            margin-top: 25px;
          
        }
        .circle3{
            border-radius: 90px;
            height:100px;
            width:100px;
            background: linear-gradient(135deg,rgb(87, 1, 90),rgb(148, 3, 148));
            margin-left: 50px;
            margin-top: 25px;
           
        }
        .lines1{
            height:10px;
            width:150px;
            background-color: gray;
            margin-left: 125px;
            margin-top: 25px;
            border-radius: 25px;
            display: inline-block;
        }
        .lines2{
            height:10px;
            width:150px;
            background-color: gray;
            margin-left: 125px;
            margin-top: 25px;
            border-radius: 25px;
            display: inline-block;
        }
        .lines3{
            height:10px;
            width:150px;
            background-color: gray;
            margin-left: 125px;
            margin-top: 25px;
            border-radius: 25px;
            display: inline-block;
        }
        .line1{
            height:5px;
            width:200px;
            border-radius: 10px;
            background-color: rgb(163, 163, 163);
            margin-top: 15px;
        }
        .line2{
            height:5px;
            width:150px;
            border-radius: 10px;
            background-color: rgb(163, 163, 163);
            margin-top: 5px;
        }
        .line3{
            height:5px;
            width:100px;
            border-radius: 10px;
            background-color: rgb(163, 163, 163);
            margin-top: 5px;
        }
.sphere1{
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-left: 400px;
            margin-top:-325px ;
        }
        .sphere2{
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-left: 30px;
            margin-top:-325px ;
        }
        .sphere3{
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-left: 30px;
            margin-top:-325px ;
        }
        .sphere4{
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-left: 30px;
            margin-top:-325px ;
        }
        .sphere5{
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-left: 30px;
            margin-top:-325px ;
        }
        .spheres{
            margin-left: 400px;
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            display: inline-block;
           margin-top: 100px;
        }
        .Sphere{
            margin-left: 400px;
            height:25px;
            width:25px;
            border-radius: 30px;
            background-color: gray;
            margin-top: 100px;
            display: inline-block;
        }
.upper-box{
    background-color: black;
    height:50px;
    width:230px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 550px;
    display: inline-block;
   
}
.mini-box{
    background-color: white;
    border-radius: 10px;
    height:25px;
    width:100px;
    margin-left: 20px;
    margin-bottom: -23px;
    display: inline-block;
}
.hamburger1{
    height:3px;
    width:20px;
    background-color: white;
    border-radius: 5px;
    margin-left:200px;
    margin-top: -3px;
}
.hamburger2{
    height:3px;
    width:20px;
    background-color: white;
    border-radius: 5px;
    margin-left:200px;
    margin-top: 5px;
}
.hamburger3{
    height:3px;
    width:20px;
    background-color: white;
    border-radius: 5px;
    margin-left:200px;
    margin-top: 5px;
}
.lower-box{
    background-color: white;
    height:300px;
    width:230px;
    margin-left: 550px;
    border-radius: 0px 0px 10px 10px;
    
}
.round1, .round4 ,.round7{
     background: linear-gradient(135deg,rgb(238, 241, 48),rgb(250, 37, 73));
     height:25px;
     width:25px;
     border-radius: 25px;
     margin-left: 20px;
    display: inline-block;
    margin-top: 10px;
}
.round2 ,.round5 ,.round8{
     background: linear-gradient(135deg,rgb(0, 18, 177),rgb(1, 108, 116));
     height:25px;
     width:25px;
     border-radius: 25px;
     margin-left: 20px;
    margin-top: 6px;
}
.round3 ,.round6{
     background: linear-gradient(135deg,rgb(87, 1, 90),rgb(148, 3, 148));
     height:25px;
     width:25px;
     border-radius: 25px;
     margin-left: 20px;
    margin-top: 10px;
}
.line{
    height:5px;
    width:35px;
    border-radius: 3px;
    background-color: gray;
    margin-left: 30px;
    display: block;
}
.liness1{
    height:3px;
    width:150px;
    border-radius: 10px;
    background-color: gray;
    margin-left: 30px;
    margin-top: 3px;
}
.liness2{
    height:3px;
    width:125px;
    border-radius: 10px;
    background-color: gray;
    margin-left: 30px;
    margin-top: 3px;
}
.liness3{
    height:3px;
    width:100px;
    border-radius: 10px;
    background-color: gray;
    margin-left: 30px;
    margin-top: 3px;
}
.container2{
    margin-top: -320px;
    margin-left: -20px;
    z-index:10;
}
